.spinner-dark {
	border-color: #666;
}

.spinner-dark::before, .spinner-dark > .spinner-clock-hour, .spinner-dark > .spinner-clock-minute {
	background-color: #666;
}




/* Home page */

#gestation-weeks-form-group {
	/*display: inline-block;*/
	display:none;
}

.short-input {
	width: 60px; 
	display: inline;
}

.form-error {
	color: #a94442; 
	font-size: 14px !important; 
	display: none
}



/* Quotation list page */

#search-results {
	/*display: none;*/
}

#loading {
	text-align: center;
	margin-top: 100px;
	display: none;
}


.booking-item-airline-logo > img {
    width: inherit;
}


.insurance-icon {
	font-size:16px;
}