


.spinner-dark {
	border-color: #666;
}

.spinner-dark::before, .spinner-dark > .spinner-clock-hour, .spinner-dark > .spinner-clock-minute {
	background-color: #666;
}


/* Quotation form */

#quote-form .form-group-lg  {
	margin-bottom: 20px;
}

.safari-select
{
	-webkit-appearance: none; 
}


#pregnant-inputs {
	display:none;
}

#age1-input, #age2-input, #age3-input, #age4-input, #age5-input {
	width: 50px; 
	display: inline;
	padding: 10px 14px;
	margin-right: 6px;
}


.form-error {
	color: #a94442; 
	font-size: 14px !important; 
	display: none
}


/* Home page */



.customer-logos .slick-slide img {
    max-height: 43px;
}



/* Quotation list page */

#search-results {
	/*display: none;*/
}

#loading {
	text-align: center;
	margin-top: 100px;
}


.booking-item-airline-logo > img {
    max-width: 161px;
    width: inherit;
}


.insurance-icon {
	font-size:16px;
}

.booking-item-price {
	font-size: 35px;
}

.booking-item-details .coverage-loading {
	text-align: center;
	display: none
}
.booking-item-details .coverage-loading > i {

}


/* Contract form page */


#contract-form label {
	font-weight: 100;
	font-size: 14px;
}

.coverage-details-list {
	font-size: 12px;
	font-weight: 200;
}

.coverage-details-list strong {
	opacity:1;
}


#error-list ul li {
	display: none;
}


